PGHOST=localhost
PGPORT=5432
PGDATABASE=frota
PGUSER=postgres
PGPASSWORD=postgres
SAAS_PGHOST=localhost
SAAS_PGPORT=5432
SAAS_PGDATABASE=datafrota
SAAS_PGUSER=postgres
SAAS_PGPASSWORD=postgres
MOBILE_AUTH_SECRET=datafrota-mobile-dev-secret
HOST=0.0.0.0
PORT=3001
